namespace: url-platform

images:
  urlService:
    repository: ghcr.io/gal-halevi/url-service
    tag: main
    pullPolicy: IfNotPresent
  redirectService:
    repository: ghcr.io/gal-halevi/redirect-service
    tag: main
    pullPolicy: IfNotPresent
  analyticsService:
    repository: ghcr.io/gal-halevi/analytics-service
    tag: main
    pullPolicy: IfNotPresent
  postgres:
    repository: postgres
    tag: 16-alpine
    pullPolicy: IfNotPresent

postgres:
  db: url_platform
  pvc:
    size: 1Gi

urlService:
  port: 3000
  host: 0.0.0.0
  storageMode: postgres
  logLevel: info
  bodyLimitBytes: 16384
  rateLimitEnabled: true
  rateLimitMax: 60
  rateLimitWindowMs: 60000
  baseUrl: http://localhost:30000
  databaseUrlSecret:
    name: postgres-secret
    key: DATABASE_URL
  waitForPostgres: true

redirectService:
  port: 8080
  host: 0.0.0.0
  logJson: true
  urlServiceBaseUrl: http://url-service:3000
  analyticsBaseUrl: http://analytics-service:8000

analyticsService:
  port: 8000
  logLevel: info

ingress:
  enabled: true
  className: nginx
  nodePortHttp: 30000
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/proxy-body-size: "1m"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "5"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "30"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "30"
  hosts:
    enabled: true
    api: api.url-platform.local
    redirect: r.url-platform.local
    analytics: analytics.url-platform.local
  paths:
    redirectPrefix: /r
    statsPrefix: /stats
    rootPrefix: /

replicaCount:
  urlService: 1
  redirectService: 1
  analyticsService: 1
  postgres: 1

resources:
  urlService:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  redirectService:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 128Mi
  analyticsService:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  postgres:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

global:
  appEnv: unknown
