name: _helm-validate

on:
  workflow_call: {}

jobs:
  helm-validate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4
      - name: Lint chart
        run: helm lint charts/url-platform
