name: publish-images

on:
  push:
    branches: [main]
    paths:
      - "services/**"
      - ".github/workflows/publish-images.yml"
      - ".github/workflows/_publish-one-image.yml"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.filter.outputs.url }}
      redirect: ${{ steps.filter.outputs.redirect }}
      analytics: ${{ steps.filter.outputs.analytics }}
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v4
      - id: filter
        name: Detect changed paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        with:
          filters: |
            url:
              - 'services/url-service/**'
            redirect:
              - 'services/redirect-service/**'
            analytics:
              - 'services/analytics-service/**'

  publish-url-service:
    needs: changes
    if: ${{ needs.changes.outputs.url == 'true' }}
    uses: ./.github/workflows/_publish-one-image.yml
    with:
      service_name: url-service
      context: services/url-service
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

  publish-redirect-service:
    needs: changes
    if: ${{ needs.changes.outputs.redirect == 'true' }}
    uses: ./.github/workflows/_publish-one-image.yml
    with:
      service_name: redirect-service
      context: services/redirect-service
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

  publish-analytics-service:
    needs: changes
    if: ${{ needs.changes.outputs.analytics == 'true' }}
    uses: ./.github/workflows/_publish-one-image.yml
    with:
      service_name: analytics-service
      context: services/analytics-service
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
